
*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
.main_header {
  width: 100%;
  height: 80px;
  display: block;
}

.logo {
  height: 100%;
  display: table;
  float: left;
}
.logo h1{
  color: #6a5acd;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  font-family: 'Patrick Hand';
  font-size: 32px;
}
.nav {
  height: 100px;
 }

 .nav ul {
   float: right;
   margin-right: 10px;
 }
 .nav ul li {
   display: inline-block;
   line-height: 60px;
   margin: 30px 5px;
 }

 .nav ul li a {
   color: #6a5acd;
   font-size: 13px;
   text-transform: uppercase;
   font-family: 'Play';

 }


main {
  background-color: #6a5acd;
  font-family: 'Comfortaa';
  color: #6a5acd;
}

.primary_header {
  padding: 20px;
  color: white;
  text-shadow: 2px 2px 4px #FF0000;
}

.Bangladesi_Food_iteams_section {
  padding: 20px;
  margin-left: 20px;
  color: white;
  text-shadow: 2px 2px 4px #FF0000;
}

.section_no_header{
  display: flex;
  justify-content: space-between;
}
.Bangladesi_Food_iteams_image {
  padding: 50px 8px 20px;
}
img {
  border-radius: 20%;

}

.Bangladesi_Food_iteams_p {
  float: right;
  padding: 50px 8px 20px;
  text-align: left;
  word-spacing: 3px;
  color: white;
  text-shadow: 2px 2px 4px #FF0000;
  line-height: 32px;
}

.my_hobby {
  padding: 20px;
  margin-left: 20px;
  color: white;
  text-shadow: 2px 2px 4px #FF0000;
}

.my_hobby_image {
  padding: 50px 8px 20px;
}

.my_hobby_list {
  list-style: square;
  float: right;
  padding: 50px 8px 20px;
  text-align: left;
  word-spacing: 3px;
  color: white;
  text-shadow: 2px 2px 4px #FF0000;
  line-height: 32px;
}
.Cox's_ Bazar_image {
  padding: 50px 9 px 20 px;
  color: #6a5acd;
   font-size: 13px;
   text-transform: uppercase;
} 

.footer {
  background-color: #3A3B3C;
}
.my_motto {
  padding: 20px;
  margin-left: 20px;
  color: white;
  text-shadow: 2px 2px 4px #FF0000;
}
