@import url('https://fonts.googleapis.com/css?family=Audiowide');
@import url('href="https://fonts.googleapis.com/css?family=Libre+Baskerville');


body {
    background-color: #f4d1e2;
    text-indent: 25px;
    word-spacing: 2px;
    text-align: left;
    color: rgb(112, 12, 71);
    font-family: 'Libre Baskerville', serif;
    line-height: 1.2;
    padding: 0px;
}

header {
    background-color: #ed88b9;
    margin: 20px;
    padding: 10px;
    box-shadow: 7px 7px 10px rgb(116, 31, 73);
}
footer {
    background-color: #ed88b9;
    margin: 20px;
    padding: 3px;
    box-shadow: 7px 7px 10px rgb(116, 31, 73);
}

header h1{

    font-family: "Audiowide", sans-serif;
    color: rgb(112, 12, 71);
    font-size: 3.2em;
}

header p {
    color: rgb(112, 12, 71);
}

.slider-bar {
    margin: 20px;
    padding: 5px;
    background-color: #ed88b9;
    display: flex;
    justify-content: space-between;
    box-shadow: 7px 7px 10px rgb(116, 31, 73);
}

.slider-bar a {
    width: 100%;
    text-align: center;
    text-decoration-line: none;
    font-family: "Audiowide", sans-serif;
    font-size: 1rem;
    color: rgb(112, 12, 71);
}

.slider-bar a:hover{
    background-color: #db7093;
    color: white;
}

.slider-bar a:active{
    background-color: aliceblue;
    color: #75053b;
}

aside {
    flex-direction:column;
    padding: 7px;
    background-color: #ee7fb4;
    width: 250px;
    margin-left: auto;
    margin-right: 0;
    box-shadow: 5px 0px 10px rgb(116, 31, 73);
}

article{
    flex-direction:column;
    background-color: #f1bbd6;
    margin: 20px;
    padding-top: 10px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-left: 50px;
    box-shadow: 7px 7px 10px rgb(116, 31, 73);
}

.content img {
    float: left;
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    margin-right: 20px;
}

.header-content h2 {
    font-size: 2.1em;
    color: rgb(112, 12, 71);
}

.city-text {
    line-height: 24px;
}


.transform {
    text-transform: uppercase;
}

footer {
    text-align: center;
    font-style: italic;
}

footer span {
    font-weight: bold;
}

#contact {
    background-color: #f1bbd6;
    margin: 20px;
    padding-top: 10px;
    padding-right: 50px;
    padding-bottom: 40px;
    padding-left: 50px;
    box-shadow: 7px 7px 10px rgb(116, 31, 73);
}

#contact h1 {
    text-align: center;
    color: #75053b;
}
.table-div {
    background-color: #f1bbd6;
    margin: 20px;
    padding-top: 10px;
    padding-right: 50px;
    padding-bottom: 40px;
    padding-left: 50px;
    box-shadow: 7px 7px 10px rgb(116, 31, 73);
    text-align: center;

}

.gallery {
    width: 90%;
    max-width: 900px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.imgcontainer {
    margin: 5px;
    flex-basis: 290px;
    flex-grow: 1;
}

.imgcontainer > img {
    margin: auto;
    height: 100%;
    flex-basis: 250px;
    width: 300px;
    max-width: 100%;
    border-radius: 10px;
}

.money-table{
    margin: auto;
    display: grid;
    border-collapse: collapse;
    border: 1px solid black;
    overflow-y: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

thead, tbody, tr {
    display: contents;
}

tr:nth-child(even) td {
    background: white;
}

th, td {
    text-align: center;
    border: 1px solid black;
    padding: 0.8em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

th {
    background: #0ea12e;
    font-weight: normal;
    font-size: 1.1rem;
    color: white;
}

.sidebar-right {
    float: right;
    position: sticky;
    margin: 20px;
    right: 10px;
    top: 5px;
    bottom: 10px;
    text-align: center;
}

@media screen and (max-width: 700px) {
    aside {
        display: none;
    }

    .gallery, .slider-bar {
        flex-direction: column;
    }

}

.slider-bar a.nav_element_active {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

#my-video {
    width: 640px;
    height: 360px;
    margin-left: auto;
    margin-right: auto;
}