body {
	/*padding: 0;*/
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
	background-color: #101010;
	padding-bottom: 30rem;
}
.hero{
	height: 100vh;
	/*height: 20rem;*/
	width: 100%;
	background-image: url(../img/black.jpg);
	background-size: cover;
	background-position: center;
	box-sizing: border-box;

}
nav{
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	padding-top: 3.8rem;
	padding-left: 8%;
	padding-right: 8%;
}
.logo{
	color: white;
	font-size: 3.2rem;
	letter-spacing: 0.016rem;
	cursor: pointer;
}
span{
	color: #f9004d;
}
nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px  25px;
}
nav ul li a{
	color: white;
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;
}
nav ul li a:hover{
	color: #f9004d;
	transition: .4s;
	text-decoration: underline;
}
.btn{
	background-color:#f9004d;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 10px 25px;
	border-radius: 30px;
	transition: transform .4s; 
}
.btn:hover{
	transform: scale(1.2);
}
.content{
	position: absolute;
	top: 50%;
	left:8%;
	transform: translateY(-50%);
}
h1{
	color: white;
	margin: 1.2rem 0rem 1.3rem;
	font-size: 4.6rem;
}
h3{
	color: white;
	font-size: 1.6rem;
	margin-bottom: 3.125rem;
}
h4{
	color: #fcfc;
	letter-spacing: 0.125rem;
	font-size: 1.25rem;
}
.newslatter form{
	width: 18.75rem;
	max-width: 100%;
	position: relative;
}
.newslatter form input:first-child{
	display: inline-block;
	width: 100%;
	padding: 0.875rem 0.625rem 0.875rem 0.9375rem;
	border: 0.125rem solid #f9004d;
	outline: none;
	border-radius: 1.9rem;
}
.newslatter form input:last-child{
	position: absolute;
	display: inline-block;
	outline: none;
	border: none;
	padding: 0.6rem 1.9rem;
	border-radius: 1.9rem;
	background-color:#f9004d;
	color: white;
	box-shadow: 0rem 0rem 5rem #000, 0rem 0rem 0.9rem #858585;
	top: 0.625rem;
	right: 0.625rem;
}

.about{
	width: 100%;
	padding: 6.25rem 0rem;
	background-color: #191919;
}
.about img{
	height: auto;
	width: 25rem;
}
.about-text{
	width: 34.375rem;
	text-indent: inherit;
}
.main{
	width: 70.625rem;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.about-text h2{
	color: white;
	font-size: 4.875rem;
	text-transform: capitalize;
	margin-bottom: 1.2rem;
}
.about-text h5{
	color: white;
	letter-spacing: 0.125rem;
	font-size: 1.375rem;
	margin-bottom: 1.5625rem;
	text-transform: capitalize;
}
.about-text p{
	color: #fcfc;
	letter-spacing: 0.06rem;
	line-height: 1.8rem;
	font-size: 1.2rem;
	margin-bottom: 2.8rem;
}
button{
	background-color:#f9004d;
	color: white;
	text-decoration: none;
	border: 0.125rem solid transparent;
	font-weight: bold;
	padding: 0.81rem 1.9rem;
	border-radius: 1.9rem;
	transition: .4s; 
}
button:hover{
	background-color: transparent;
	border: 0.125rem solid #f9004d;
	cursor: pointer;
}

.service{
	background: #101010;
	width: 100%;
	padding: 6.25rem 0;
}
.title h2{
	color: white;
	font-size: 4.68rem;
	width: 70.625rem;
	margin: 1.9rem auto;
	text-align: center;
	font-style: italic;
}
.box{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 25rem;
}
.card{
	height: 22.81rem;
	width: 20.93rem;
	padding: 1.3rem 2.2rem;
	background: #191919;
	border-radius: 1.3rem;
	margin: 0.9rem;
	position: relative;
	overflow: hidden;
	text-align: center;
}
.card i{
	font-size: 3.125rem;
	display: block;
	text-align: center;
	margin: 1.5625rem 0rem;
	color: #f9004d;

}
h5{
	color: white;
	font-size: 1.43rem;
	margin-bottom: 0.9rem;

}
.pra p{
	color: #fcfc;
	font-size: 1rem;
	line-height: 0.8rem;
	margin-bottom: 0.625rem;
}
.card .button{
	background-color:#f9004d;
	color: white;
	text-decoration: none;
	border: 0.125rem solid transparent;
	font-weight: bold;
	padding: 0.56rem 1.375rem;
	border-radius: 1.9rem;
	transition: .4s; 
}
.card .button:hover{
	background-color: transparent;
	border: 0.125rem solid #f9004d;
	cursor: pointer;
}
.contact-me{
	width: 100%;
	height: 18.12rem;
	background: #191919;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.contact-me p{
	color: white;
	font-size: 1.9rem;
	font-weight: bold;
	margin-bottom: 1.56rem;
}
.contact-me .button-two{
	background-color:#f9004d;
	color: white;
	text-decoration: none;
	border: 0.125rem solid transparent;
	font-weight: bold;
	padding: 0.815rem 1.9rem;
	border-radius: 1.9rem;
	transition: .4s; 
}
.contact-me .button-two:hover {
	background-color: transparent;
	border: 0.125rem solid #f9004d;
	cursor: pointer;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.title {
  text-transform: uppercase;
  color: #606c71;
}
table {
	display: grid;
  	border-collapse: collapse;
 	 width: 100%;
  	margin: 0.9rem auto 0;
  	font-size: 1.5rem;
  	color: #f9004d;
  	border-radius: 0.9rem;
	background-color: white;
	padding-bottom: 10rem;
}

table thead {
	display: grid;
	background-color: #101010;
}
table th,
table td {
	/*border: 0.125rem solid #6fcfff;*/
	border: 0.125rem solid #f9004d;
	padding: 0.625rem 0.82rem;
}
/*mobile*/
@media screen and (max-width: 639px){
	.title {
		text-align: left;
	}
    .smart-table thead {
		display:none;
	}

	.smart-table tr,
	.smart-table td {
		display: grid;
	}
	.smart-table tr:not(:last-child) {
		border-bottom: 5px solid #5ca0c3;
	}

	.smart-table td {
		padding-left: 54%;
		position: relative;
	}

	.smart-table td::before {
		position: absolute;
		padding: 5px;
		left: 0;
		top: 0;
		bottom: 0;
		width: 45%;
		content: attr(data-col-title);
		font-weight: bold;
		background-color: #f3f6fa;
	}
}
/*desktop*/
@media (min-width: 1024px) {
	.title {
		text-align: center;
	}
	table {
		width: 80%;
	}
}
footer{
	/*position: relative;*/
	width: 100%;
	height: 15rem;
	background: #101010;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	bottom: 0;
	position: fixed;
	z-index: 3;
}
footer p:nth-child(1){
	font-size: 0.9rem;
	color: white;
	margin-bottom: 1.2rem;
	font-weight: bold;
}
footer p:nth-child(2){
	color: white;
	font-size: 1.1rem;
	width: 31.5rem;
	text-align: center;
	line-height: 1.6rem;
}
.social{
	display: flex;
}
.social a{
	width: 2.9rem;
	height: 2.9rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background:  #f9004d;
	border-radius: 50%;
	margin: 1.37rem 0.625rem;
	color: white;
	text-decoration: none;
	font-size: 1.2rem;
}
.social a:hover{
	transform: scale(1.3);
	transition: .3s;
}
.end{
	position: absolute;
	color:#f9004d;
	bottom: 2.18rem;
	font-size: 0.875rem;
}


.col {
	padding: 1em;
	background:  #f9004d;
	border-radius: .35em;
	margin: 0 .5em .8em;
}

.button {
	color:  black;
	text-align: center;
	padding: .625em 1.25em;
	background: white;
	border-radius: .35em;
}

@media (min-width: 769px) {

	.row {
		width: 90%;
		margin: 0 auto;
	}
}
@media (min-width: 1025px) {

	.row {
		width: 80%;
		max-width: 1150px;
	}
}

@media (min-width: 769px) {
	.row {
		display: flex;
	}
	.col {
		flex: 1;

		display: flex;
		flex-direction: column;
	}

	.button {
		margin-top: auto;
		align-self: flex-start;
	}

}


p {
	font-size: .95em;
	margin: 0 0 1em 0;
}
h2,
h3,
a {
	color: black;
}
h2,
h3 {
	margin: 0 0 .8em 0;
}
a {
	text-decoration: none;
}